<!-- index.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo electrónico enviado con éxito</title>
    <link rel="stylesheet" href="../styles/css/estilocorreo.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Correo electrónico enviado con éxito!</h4>
                    <p>Su correo electrónico ha sido enviado correctamente. Gracias por contactarnos.</p>
                    <hr>
                    <p class="mb-0">
                        <a href="../../index.html" class="btn btn-primary">Ir al menú</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>